# Extracting Data from PDFs

In [1]:
import tabula
import pandas as pd

In [4]:
data_2018 = "./2018_tables_and_figures_dec_2020_fnl_508.pdf"

In [9]:
template = "./tabula-2018_tables_and_figures_dec_2020_fnl_508.json"

In [168]:
table = tabula.read_pdf_with_template(input_path=data_2018, template_path=template)
table[0]

,Unnamed: 0,1960,1970,1980,1990,2000,2005,2010,2015,2017,2018
0,Paper and Paperboard,"29,990","44,310","55,160","72,730","87,740","84,840","71,310","68,050","67,010","67,390"
1,Glass,"6,720","12,740","15,130","13,100","12,770","12,540","11,520","11,470","12,300","12,250"
2,Metals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Ferrous,"10,300","12,360","12,620","12,640","14,150","15,210","16,920","18,190","18,890","19,200"
4,Aluminum,340,800,"1,730","2,810","3,190","3,330","3,510","3,670","3,820","3,890"
5,Other Nonferrous,180,670,"1,160","1,100","1,600","1,860","2,020","2,010","2,510","2,510"
6,Total Metals,"10,820","13,830","15,510","16,550","18,940","20,400","22,450","23,870","25,220","25,600"
7,Plastics,390,"2,900","6,830","17,130","25,550","29,380","31,400","34,480","35,410","35,680"
8,Rubber and Leather,"1,840","2,970","4,200","5,790","6,670","7,290","7,750","8,560","9,110","9,160"
9,Textiles,"1,760","2,040","2,530","5,810","9,480","11,510","13,220","16,060","16,890","17,030"
10,Wood,"3,030","3,720","7,010","12,210","13,570","14,790","15,710","16,300","18,200","18,090"
11,Other **,70,770,"2,520","3,190","4,000","4,290","4,710","4,880","4,630","4,560"
12,Total Materials in Products,"54,620","83,280","108,890","146,510","178,720","185,040","178,070","183,670","188,770","189,760"
13,Other Wastes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Food^,"12,200","12,800","13,000","23,860","30,700","32,930","35,740","39,730","40,670","63,130"
15,Yard Trimmings,"20,000","23,200","27,500","35,000","30,530","32,070","33,400","34,720","35,180","35,400"
16,Miscellaneous Inorganic Wastes,"1,300","1,780","2,250","2,900","3,500","3,690","3,840","3,990","4,040","4,070"
17,Total Other Wastes,"33,500","37,780","42,750","61,760","64,730","68,690","72,980","78,440","79,890","102,600"
18,Total MSW Generated - Weight Â¥,"88,120","121,060","151,640","208,270","243,450","253,730","251,050","262,110","268,660","292,360"

In [63]:
table[1]

,Unnamed: 0,1960,1970,1980,1990,2000,2005,2010,2015,2017,2018
0,Paper and Paperboard,34.0%,36.6%,36.4%,34.9%,36.0%,33.4%,28.4%,26.0%,24.9%,23.1%
1,Glass,7.6%,10.5%,10.0%,6.3%,5.2%,4.9%,4.6%,4.4%,4.6%,4.2%
2,Metals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Ferrous,11.7%,10.2%,8.3%,6.1%,5.8%,6.0%,6.7%,6.9%,7.0%,6.6%
4,Aluminum,0.4%,0.7%,1.1%,1.3%,1.3%,1.3%,1.4%,1.4%,1.4%,1.3%
5,Other Nonferrous,0.2%,0.6%,0.8%,0.5%,0.7%,0.7%,0.8%,0.8%,1.0%,0.9%
6,Total Metals,12.3%,11.4%,10.2%,7.9%,7.8%,8.0%,8.9%,9.1%,9.4%,8.8%
7,Plastics,0.4%,2.4%,4.5%,8.2%,10.5%,11.6%,12.5%,13.2%,13.2%,12.2%
8,Rubber and Leather,2.1%,2.5%,2.8%,2.8%,2.7%,2.9%,3.1%,3.3%,3.4%,3.1%
9,Textiles,2.0%,1.7%,1.7%,2.8%,3.9%,4.5%,5.3%,6.1%,6.3%,5.8%
10,Wood,3.4%,3.1%,4.6%,5.9%,5.6%,5.8%,6.3%,6.2%,6.8%,6.2%
11,Other **,0.1%,0.6%,1.7%,1.5%,1.6%,1.7%,1.9%,1.8%,1.7%,1.5%
12,Total Materials in Products,62.0%,68.8%,71.8%,70.3%,73.4%,72.9%,70.9%,70.1%,70.3%,64.9%
13,Other Wastes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Food^,13.8%,10.6%,8.6%,11.5%,12.6%,13.0%,14.2%,15.2%,15.1%,21.6%
15,Yard Trimmings,22.7%,19.2%,18.1%,16.8%,12.5%,12.6%,13.3%,13.2%,13.1%,12.1%
16,Miscellaneous Inorganic Wastes,1.5%,1.5%,1.5%,1.4%,1.4%,1.5%,1.5%,1.5%,1.5%,1.4%
17,Total Other Wastes,38.0%,31.2%,28.2%,29.7%,26.6%,27.1%,29.1%,29.9%,29.7%,35.1%
18,Total MSW Generated - % Â¥,100.0%,100.0%,100.0%,100.0%,100.0%,100.0%,100.0%,100.0%,100.0%,100.0%

In [64]:
table[2]

,Paper and Paperboard,"5,080","6,770","11,740","20,230","37,560","41,960","44,570","45,320","44,170","45,970"
0,Glass,100,160,750,"2,630","2,880","2,590","3,130","3,190","3,070","3,060"
1,Metals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Ferrous,50,150,370,"2,230","4,680","5,020","5,800","6,070","6,170","6,360"
3,Aluminum,Neg.,10,310,"1,010",860,690,680,670,600,670
4,Other Nonferrous,Neg.,320,540,730,"1,060","1,280","1,440","1,290","1,710","1,690"
5,Total Metals,50,480,"1,220","3,970","6,600","6,990","7,920","8,030","8,480","8,720"
6,Plastics,Neg.,Neg.,20,370,"1,480","1,780","2,500","3,120","3,000","3,090"
7,Rubber and Leather,330,250,130,370,820,"1,050","1,440","1,550","1,670","1,670"
8,Textiles,50,60,160,660,"1,320","1,830","2,050","2,460","2,570","2,510"
9,Wood,Neg.,Neg.,Neg.,130,"1,370","1,830","2,280","2,660","3,030","3,100"
10,Other **,Neg.,300,500,680,980,"1,210","1,370","1,230",990,970
11,Total MSW recycled,"5,610","8,020","14,520","29,040","53,010","59,240","65,260","67,560","66,980","69,090"

In [65]:
table[3]

,Food - composted,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Food^,Neg.,Neg.,Neg.,Neg.,680,690,970,"2,100","2,570","2,590"
1,Yard Trimmings - composted,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Yard Trimmings,Neg.,Neg.,Neg.,"4,200","15,770","19,860","19,200","21,290","24,420","22,300"
3,Misc. Inorganic Wastes - composted,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Miscellaneous Inorganic Wastes,Neg.,Neg.,Neg.,Neg.,Neg.,Neg.,Neg.,Neg.,Neg.,Neg.
5,Total - composted,Neg.,Neg.,Neg.,"4,200","16,450","20,550","20,170","23,390","26,990","24,890"

In [66]:
table[4]

                   Food - animal feed
0                    Food - bio-based
1    materials/biochemical processing
2        Food â codigestion/anaerobic
3                           digestion
4                     Food - donation
5             Food - land application
6             Food â sewer/wastewater
7                           treatment
8  Total Food â other food management

In [67]:
table[5]

    1,820
0   1,840
1   5,260
2   4,790
3     260
4   3,740
5  17,710

In [68]:
table[6]

,Unnamed: 0,1960,1970,1980,1990,2000,2005,2010,2015,2017,2018
0,Recycled,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Paper and Paperboard,16.9%,15.3%,21.3%,27.8%,42.8%,49.5%,62.5%,66.6%,65.9%,68.2%
2,Glass,1.5%,1.3%,5.0%,20.1%,22.6%,20.7%,27.2%,27.8%,25.0%,25.0%
3,Metals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Ferrous,0.5%,1.2%,2.9%,17.6%,33.1%,33.0%,34.3%,33.4%,32.7%,33.1%
5,Aluminum,Neg.,1.3%,17.9%,35.9%,27.0%,20.7%,19.4%,18.3%,15.7%,17.2%
6,Other Nonferrous,Neg.,47.8%,46.6%,66.4%,66.3%,68.8%,71.3%,64.2%,68.1%,67.3%
7,Total Metals,0.5%,3.5%,7.9%,24.0%,34.8%,34.3%,35.3%,33.6%,33.6%,34.1%
8,Plastics,Neg.,Neg.,0.3%,2.2%,5.8%,6.1%,8.0%,9.0%,8.5%,8.7%
9,Rubber and Leather,17.9%,8.4%,3.1%,6.4%,12.3%,14.4%,18.6%,18.1%,18.3%,18.2%
10,Textiles,2.8%,2.9%,6.3%,11.4%,13.9%,15.9%,15.5%,15.3%,15.2%,14.7%
11,Wood,Neg.,Neg.,Neg.,1.1%,10.1%,12.4%,14.5%,16.3%,16.6%,17.1%
12,Other **,Neg.,39.0%,19.8%,21.3%,24.5%,28.2%,29.1%,25.2%,21.4%,21.3%
13,Total Materials in Products â recycled,10.3%,9.6%,13.3%,19.8%,29.7%,32.0%,36.6%,36.8%,35.5%,36.4%

In [69]:
table[7]

,Food - Composted,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Food^,Neg.,Neg.,Neg.,Neg.,2.2%,2.1%,2.7%,5.3%,6.3%,4.1%
1,Yard Trimmings - Composted,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Yard Trimmings,Neg.,Neg.,Neg.,12.0%,51.7%,61.9%,57.5%,61.3%,69.4%,63.0%
3,Misc. Inorganic Wastes â composted,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Miscellaneous Inorganic Wastes,Neg.,Neg.,Neg.,Neg.,Neg.,Neg.,Neg.,Neg.,Neg.,Neg.
5,Total â composted,Neg.,Neg.,Neg.,6.8%,25.4%,29.9%,27.6%,29.8%,33.8%,24.3%

In [70]:
table[8]

               Other Food ManagementÂ¥
0                  Food - animal feed
1                    Food - bio-based
2    materials/biochemical processing
3        Food â codigestion/anaerobic
4                           digestion
5                     Food - donation
6             Food - land application
7             Food â sewer/wastewater
8                           treatment
9  Total Food â other food management

In [71]:
table[9]

    2.9%
0   2.9%
1   8.3%
2   7.6%
3   0.4%
4   5.9%
5  28.1%

In [72]:
table[10]

,Unnamed: 0,1960,1970,1980,1990,2000,2005,2010,2015,2017,2018
0,Paper and Paperboard,NaN,150.0,860,"8,930","9,730","7,800","4,740","4,450","4,490","4,200"
1,Glass,NaN,60.0,300,"1,810","1,790","1,660","1,360","1,440","1,650","1,640"
2,Metals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Ferrous,NaN,60.0,250,"1,690","1,610","1,640","1,810","2,150","2,290","2,310"
4,Aluminum,NaN,0.0,30,300,390,410,440,510,550,560
5,Other Nonferrous,NaN,0.0,20,60,50,50,60,60,70,80
6,Total Metals,NaN,60.0,300,"2,050","2,050","2,100","2,310","2,720","2,910","2,950"
7,Plastics,NaN,0.0,140,"2,980","4,120","4,330","4,530","5,330","5,590","5,620"
8,Rubber and Leather,NaN,10.0,70,830,"1,970","2,110","1,910","2,520","2,490","2,500"
9,Textiles,NaN,10.0,50,880,"1,880","2,110","2,270","3,060","3,170","3,220"
10,Wood,NaN,10.0,150,"2,080","2,290","2,270","2,310","2,570","2,880","2,840"
11,Other **,NaN,0.0,30,410,540,510,540,670,670,660
12,Total Materials in Products,NaN,300.0,"1,900","19,970","24,370","22,890","19,970","22,760","23,850","23,630"
13,Other Wastes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Food,NaN,50.0,260,"4,060","5,820","5,870","6,150","7,380","7,470","7,550"
15,Yard Trimmings,NaN,90.0,550,"5,240","2,860","2,220","2,510","2,630","2,110","2,570"
16,Miscellaneous Inorganic Wastes,NaN,10.0,50,490,680,670,680,780,790,800
17,Total Other Wastes,NaN,150.0,860,"9,790","9,360","8,760","9,340","10,790","10,370","10,920"
18,Total MSW Combusted - Weight,NaN,450.0,"2,760","29,760","33,730","31,650","29,310","33,550","34,220","34,550"

In [73]:
table[11]

,Unnamed: 0,1960,1970,1980,1990,2000,2005,2010,2015,2017,2018
0,Paper and Paperboard,NaN,33.3%,31.2%,30.0%,28.8%,24.6%,16.2%,13.3%,13.1%,12.2%
1,Glass,NaN,13.3%,10.9%,6.1%,5.3%,5.2%,4.6%,4.3%,4.8%,4.8%
2,Metals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Ferrous,NaN,13.3%,9.0%,5.7%,4.8%,5.2%,6.2%,6.4%,6.7%,6.7%
4,Aluminum,NaN,0.0%,1.1%,1.0%,1.2%,1.3%,1.5%,1.5%,1.6%,1.6%
5,Other Nonferrous,NaN,0.0%,0.7%,0.2%,0.1%,0.1%,0.2%,0.2%,0.2%,0.2%
6,Total Metals,NaN,13.3%,10.8%,6.9%,6.1%,6.6%,7.9%,8.1%,8.5%,8.5%
7,Plastics,NaN,Neg.,5.1%,10.0%,12.2%,13.7%,15.5%,15.9%,16.3%,16.3%
8,Rubber and Leather,NaN,2.2%,2.5%,2.8%,5.9%,6.7%,6.5%,7.5%,7.3%,7.2%
9,Textiles,NaN,2.2%,1.8%,2.9%,5.6%,6.7%,7.7%,9.1%,9.3%,9.3%
10,Wood,NaN,2.2%,5.4%,7.0%,6.8%,7.2%,7.9%,7.7%,8.4%,8.2%
11,Other **,NaN,Neg.,1.1%,1.4%,1.6%,1.6%,1.8%,2.0%,2.0%,1.9%
12,Total Materials in Products,NaN,66.6%,68.8%,67.1%,72.3%,72.3%,68.1%,67.9%,69.7%,68.4%
13,Other Wastes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Food,NaN,11.1%,9.4%,13.6%,17.3%,18.5%,21.0%,22.0%,21.8%,21.9%
15,Yard Trimmings,NaN,20.0%,20.0%,17.6%,8.5%,7.0%,8.6%,7.8%,6.2%,7.4%
16,Miscellaneous Inorganic Wastes,NaN,2.3%,1.8%,1.7%,1.9%,2.1%,2.3%,2.3%,2.3%,2.3%
17,Total Other Wastes,NaN,33.4%,31.2%,32.9%,27.7%,27.7%,31.9%,32.1%,30.3%,31.6%
18,Total MSW Combusted with Energy Recovery- %,NaN,100.0%,100.0%,100.0%,100.0%,100.0%,100.0%,100.0%,100.0%,100.0%

In [74]:
table[12]

,Unnamed: 0,1960,1970,1980,1990,2000,2005,2010,2015,2017,2018
0,Paper and Paperboard,"24,910","37,390","42,560","43,570","40,450","35,080","22,000","18,280","18,350","17,220"
1,Glass,"6,620","12,520","14,080","8,660","8,100","8,290","7,030","6,840","7,580","7,550"
2,Metals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Ferrous,"10,250","12,150","12,000","8,720","7,860","8,550","9,310","9,970","10,430","10,530"
4,Aluminum,340,790,"1,390","1,500","1,940","2,230","2,390","2,490","2,670","2,660"
5,Other Nonferrous,180,350,600,310,490,530,520,660,730,740
6,Total Metals,"10,770","13,290","13,990","10,530","10,290","11,310","12,220","13,120","13,830","13,930"
7,Plastics,390,"2,900","6,670","13,780","19,950","23,270","24,370","26,030","26,820","26,970"
8,Rubber and Leather,"1,510","2,710","4,000","4,590","3,880","4,130","4,400","4,490","4,950","4,990"
9,Textiles,"1,710","1,970","2,320","4,270","6,280","7,570","8,900","10,540","11,150","11,300"
10,Wood,"3,030","3,710","6,860","10,000","9,910","10,690","11,120","11,070","12,290","12,150"
11,Other **,70,470,"1,990","2,100","2,480","2,570","2,800","2,980","2,970","2,930"
12,Total Materials in Products,"49,010","74,960","92,470","97,500","101,340","102,910","92,840","93,350","97,940","97,040"
13,Other Wastes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Food,"12,200","12,750","12,740","19,800","24,200","26,370","28,620","30,250","30,630","35,280"
15,Yard Trimmings,"20,000","23,110","26,950","25,560","11,900","9,990","11,690","10,800","8,650","10,530"
16,Miscellaneous Inorganic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Wastes,"1,300","1,770","2,200","2,410","2,820","3,020","3,160","3,210","3,250","3,270"
18,Total Other Wastes,"33,500","37,630","41,890","47,770","38,920","39,380","43,470","44,260","42,530","49,080"

In [75]:
table[13]

,Unnamed: 0,1960,1970,1980,1990,2000,2005,2010,2015,2017,2018
0,Paper and Paperboard,30.2%,33.2%,31.7%,30.0%,28.8%,24.7%,16.1%,13.3%,13.1%,11.8%
1,Glass,8.0%,11.1%,10.5%,6.0%,5.8%,5.8%,5.1%,5.0%,5.4%,5.2%
2,Metals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Ferrous,12.4%,10.8%,8.9%,6.0%,5.6%,6.0%,6.8%,7.2%,7.4%,7.2%
4,Aluminum,0.4%,0.7%,1.0%,1.0%,1.4%,1.6%,1.8%,1.8%,1.9%,1.8%
5,Other Nonferrous,0.2%,0.3%,0.4%,0.2%,0.3%,0.3%,0.4%,0.5%,0.5%,0.5%
6,Total Metals,13.0%,11.8%,10.3%,7.2%,7.3%,7.9%,9.0%,9.5%,9.8%,9.5%
7,Plastics,0.5%,2.6%,5.0%,9.5%,14.2%,16.4%,17.9%,18.9%,19.1%,18.5%
8,Rubber and Leather,1.8%,2.4%,3.0%,3.2%,2.8%,2.9%,3.2%,3.3%,3.5%,3.4%
9,Textiles,2.1%,1.7%,1.7%,2.9%,4.5%,5.3%,6.5%,7.7%,7.9%,7.7%
10,Wood,3.7%,3.3%,5.1%,6.9%,7.1%,7.5%,8.2%,8.0%,8.7%,8.3%
11,Other **,0.1%,0.4%,1.5%,1.4%,1.8%,1.8%,2.1%,2.2%,2.2%,2.0%
12,Total Materials in Products,59.4%,66.6%,68.8%,67.1%,72.3%,72.3%,68.1%,67.9%,69.7%,66.4%
13,Other Wastes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Food,14.8%,11.3%,9.5%,13.6%,17.3%,18.5%,21.0%,22.0%,21.8%,24.1%
15,Yard Trimmings,24.2%,20.5%,20.1%,17.6%,8.5%,7.0%,8.6%,7.8%,6.2%,7.2%
16,Miscellaneous Inorganic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Wastes,1.6%,1.6%,1.6%,1.7%,1.9%,2.2%,2.3%,2.3%,2.3%,2.3%
18,Total Other Wastes,40.6%,33.4%,31.2%,32.9%,27.7%,27.7%,31.9%,32.1%,30.3%,33.6%

In [169]:
generated_absolute = table[0]
generated_percent_total = table[1]
recycled = table[2]
composted = table[3]
other_label = table[4]
other_values = table[5]
recycled_percent = table[6]
composted_percent = table[7]
other_label_percent = table[8]
other_values_percent = table[9]
combusted = table[10]
combusted_percent = table[11]
landfilled = table[12]
landfilled_percent = table[13]

### Fixing Divided Tables

In [90]:
other_label

                   Food - animal feed
0                    Food - bio-based
1    materials/biochemical processing
2        Food â codigestion/anaerobic
3                           digestion
4                     Food - donation
5             Food - land application
6             Food â sewer/wastewater
7                           treatment
8  Total Food â other food management

In [91]:
other_label.iloc[0,0] = other_label.iloc[0,0] + ' ' + other_label.iloc[1,0]
other_label.iloc[2,0] = other_label.iloc[2,0] + ' ' + other_label.iloc[3,0]
other_label.iloc[6,0] = other_label.iloc[6,0] + ' ' + other_label.iloc[7,0]
other_label

                                  Food - animal feed
0  Food - bio-based materials/biochemical processing
1                   materials/biochemical processing
2             Food â codigestion/anaerobic digestion
3                                          digestion
4                                    Food - donation
5                            Food - land application
6                  Food â sewer/wastewater treatment
7                                          treatment
8                 Total Food â other food management

In [92]:
other_label.drop([1,3,7] ,inplace=True)
other_label.reset_index(inplace=True)
other_label.drop(columns=['index'], inplace=True)
other_label

                                  Food - animal feed
0  Food - bio-based materials/biochemical processing
1             Food â codigestion/anaerobic digestion
2                                    Food - donation
3                            Food - land application
4                  Food â sewer/wastewater treatment
5                 Total Food â other food management

In [97]:
other_label = other_label.columns.to_frame().T.append(other_label, ignore_index=True)

In [98]:
other_label

                                  Food - animal feed
0                                 Food - animal feed
1  Food - bio-based materials/biochemical processing
2             Food â codigestion/anaerobic digestion
3                                    Food - donation
4                            Food - land application
5                  Food â sewer/wastewater treatment
6                 Total Food â other food management

In [99]:
other_values = other_values.columns.to_frame().T.append(other_values, ignore_index=True)
other_values

    1,820
0   1,820
1   1,840
2   5,260
3   4,790
4     260
5   3,740
6  17,710

In [101]:
other = pd.concat([other_label, other_values], axis=1)
other.columns = ['Material', 'Amount']

In [102]:
other

                                            Material  Amount
0                                 Food - animal feed   1,820
1  Food - bio-based materials/biochemical processing   1,840
2             Food â codigestion/anaerobic digestion   5,260
3                                    Food - donation   4,790
4                            Food - land application     260
5                  Food â sewer/wastewater treatment   3,740
6                 Total Food â other food management  17,710

In [105]:
other_values_percent = other_values_percent.columns.to_frame().T.append(other_values_percent, ignore_index=True)
other_values_percent

    2.9%
0   2.9%
1   2.9%
2   8.3%
3   7.6%
4   0.4%
5   5.9%
6  28.1%

In [106]:
other_percent = pd.concat([other_label, other_values_percent], axis=1)
other_percent.columns = ['Material', 'Percent']
other_percent

                                            Material Percent
0                                 Food - animal feed    2.9%
1  Food - bio-based materials/biochemical processing    2.9%
2             Food â codigestion/anaerobic digestion    8.3%
3                                    Food - donation    7.6%
4                            Food - land application    0.4%
5                  Food â sewer/wastewater treatment    5.9%
6                 Total Food â other food management   28.1%

### Cleaning Data

In [107]:
generated_absolute

,Unnamed: 0,1960,1970,1980,1990,2000,2005,2010,2015,2017,2018
0,Paper and Paperboard,"29,990","44,310","55,160","72,730","87,740","84,840","71,310","68,050","67,010","67,390"
1,Glass,"6,720","12,740","15,130","13,100","12,770","12,540","11,520","11,470","12,300","12,250"
2,Metals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Ferrous,"10,300","12,360","12,620","12,640","14,150","15,210","16,920","18,190","18,890","19,200"
4,Aluminum,340,800,"1,730","2,810","3,190","3,330","3,510","3,670","3,820","3,890"
5,Other Nonferrous,180,670,"1,160","1,100","1,600","1,860","2,020","2,010","2,510","2,510"
6,Total Metals,"10,820","13,830","15,510","16,550","18,940","20,400","22,450","23,870","25,220","25,600"
7,Plastics,390,"2,900","6,830","17,130","25,550","29,380","31,400","34,480","35,410","35,680"
8,Rubber and Leather,"1,840","2,970","4,200","5,790","6,670","7,290","7,750","8,560","9,110","9,160"
9,Textiles,"1,760","2,040","2,530","5,810","9,480","11,510","13,220","16,060","16,890","17,030"
10,Wood,"3,030","3,720","7,010","12,210","13,570","14,790","15,710","16,300","18,200","18,090"
11,Other **,70,770,"2,520","3,190","4,000","4,290","4,710","4,880","4,630","4,560"
12,Total Materials in Products,"54,620","83,280","108,890","146,510","178,720","185,040","178,070","183,670","188,770","189,760"
13,Other Wastes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Food^,"12,200","12,800","13,000","23,860","30,700","32,930","35,740","39,730","40,670","63,130"
15,Yard Trimmings,"20,000","23,200","27,500","35,000","30,530","32,070","33,400","34,720","35,180","35,400"
16,Miscellaneous Inorganic Wastes,"1,300","1,780","2,250","2,900","3,500","3,690","3,840","3,990","4,040","4,070"
17,Total Other Wastes,"33,500","37,780","42,750","61,760","64,730","68,690","72,980","78,440","79,890","102,600"
18,Total MSW Generated - Weight Â¥,"88,120","121,060","151,640","208,270","243,450","253,730","251,050","262,110","268,660","292,360"

In [111]:
generated_absolute.iloc[3,0] = generated_absolute.iloc[2,0] +" - "+generated_absolute.iloc[3,0]
generated_absolute.iloc[4,0] = generated_absolute.iloc[2,0] +" - "+generated_absolute.iloc[4,0]
generated_absolute.iloc[5,0] = generated_absolute.iloc[2,0] +" - "+generated_absolute.iloc[5,0]
generated_absolute.iloc[6,0] = generated_absolute.iloc[2,0] +" - "+generated_absolute.iloc[6,0]
generated_absolute.drop([2,13], inplace=True)

In [116]:
generated_absolute.rename(columns={generated_absolute.columns[0]: 'Material'}, inplace=True)
generated_absolute.set_index('Material', inplace=True)
generated_absolute

,1960,1970,1980,1990,2000,2005,2010,2015,2017,2018
Material,,,,,,,,,,
Paper and Paperboard,"29,990","44,310","55,160","72,730","87,740","84,840","71,310","68,050","67,010","67,390"
Glass,"6,720","12,740","15,130","13,100","12,770","12,540","11,520","11,470","12,300","12,250"
Metals - Ferrous,"10,300","12,360","12,620","12,640","14,150","15,210","16,920","18,190","18,890","19,200"
Metals - Aluminum,340,800,"1,730","2,810","3,190","3,330","3,510","3,670","3,820","3,890"
Metals - Other Nonferrous,180,670,"1,160","1,100","1,600","1,860","2,020","2,010","2,510","2,510"
Metals - Total Metals,"10,820","13,830","15,510","16,550","18,940","20,400","22,450","23,870","25,220","25,600"
Plastics,390,"2,900","6,830","17,130","25,550","29,380","31,400","34,480","35,410","35,680"
Rubber and Leather,"1,840","2,970","4,200","5,790","6,670","7,290","7,750","8,560","9,110","9,160"
Textiles,"1,760","2,040","2,530","5,810","9,480","11,510","13,220","16,060","16,890","17,030"
Wood,"3,030","3,720","7,010","12,210","13,570","14,790","15,710","16,300","18,200","18,090"
Other **,70,770,"2,520","3,190","4,000","4,290","4,710","4,880","4,630","4,560"
Total Materials in Products,"54,620","83,280","108,890","146,510","178,720","185,040","178,070","183,670","188,770","189,760"
Food^,"12,200","12,800","13,000","23,860","30,700","32,930","35,740","39,730","40,670","63,130"
Yard Trimmings,"20,000","23,200","27,500","35,000","30,530","32,070","33,400","34,720","35,180","35,400"
Miscellaneous Inorganic Wastes,"1,300","1,780","2,250","2,900","3,500","3,690","3,840","3,990","4,040","4,070"
Total Other Wastes,"33,500","37,780","42,750","61,760","64,730","68,690","72,980","78,440","79,890","102,600"
Total MSW Generated - Weight Â¥,"88,120","121,060","151,640","208,270","243,450","253,730","251,050","262,110","268,660","292,360"

In [124]:
generated_absolute.to_csv("absolute_generated_waste_table.csv")

In [126]:
generated_percent_total

,Unnamed: 0,1960,1970,1980,1990,2000,2005,2010,2015,2017,2018
0,Paper and Paperboard,34.0%,36.6%,36.4%,34.9%,36.0%,33.4%,28.4%,26.0%,24.9%,23.1%
1,Glass,7.6%,10.5%,10.0%,6.3%,5.2%,4.9%,4.6%,4.4%,4.6%,4.2%
2,Metals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Ferrous,11.7%,10.2%,8.3%,6.1%,5.8%,6.0%,6.7%,6.9%,7.0%,6.6%
4,Aluminum,0.4%,0.7%,1.1%,1.3%,1.3%,1.3%,1.4%,1.4%,1.4%,1.3%
5,Other Nonferrous,0.2%,0.6%,0.8%,0.5%,0.7%,0.7%,0.8%,0.8%,1.0%,0.9%
6,Total Metals,12.3%,11.4%,10.2%,7.9%,7.8%,8.0%,8.9%,9.1%,9.4%,8.8%
7,Plastics,0.4%,2.4%,4.5%,8.2%,10.5%,11.6%,12.5%,13.2%,13.2%,12.2%
8,Rubber and Leather,2.1%,2.5%,2.8%,2.8%,2.7%,2.9%,3.1%,3.3%,3.4%,3.1%
9,Textiles,2.0%,1.7%,1.7%,2.8%,3.9%,4.5%,5.3%,6.1%,6.3%,5.8%
10,Wood,3.4%,3.1%,4.6%,5.9%,5.6%,5.8%,6.3%,6.2%,6.8%,6.2%
11,Other **,0.1%,0.6%,1.7%,1.5%,1.6%,1.7%,1.9%,1.8%,1.7%,1.5%
12,Total Materials in Products,62.0%,68.8%,71.8%,70.3%,73.4%,72.9%,70.9%,70.1%,70.3%,64.9%
13,Other Wastes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Food^,13.8%,10.6%,8.6%,11.5%,12.6%,13.0%,14.2%,15.2%,15.1%,21.6%
15,Yard Trimmings,22.7%,19.2%,18.1%,16.8%,12.5%,12.6%,13.3%,13.2%,13.1%,12.1%
16,Miscellaneous Inorganic Wastes,1.5%,1.5%,1.5%,1.4%,1.4%,1.5%,1.5%,1.5%,1.5%,1.4%
17,Total Other Wastes,38.0%,31.2%,28.2%,29.7%,26.6%,27.1%,29.1%,29.9%,29.7%,35.1%
18,Total MSW Generated - % Â¥,100.0%,100.0%,100.0%,100.0%,100.0%,100.0%,100.0%,100.0%,100.0%,100.0%

In [127]:
generated_percent_total.iloc[3,0] = generated_percent_total.iloc[2,0] +" - "+generated_percent_total.iloc[3,0]
generated_percent_total.iloc[4,0] = generated_percent_total.iloc[2,0] +" - "+generated_percent_total.iloc[4,0]
generated_percent_total.iloc[5,0] = generated_percent_total.iloc[2,0] +" - "+generated_percent_total.iloc[5,0]
generated_percent_total.iloc[6,0] = generated_percent_total.iloc[2,0] +" - "+generated_percent_total.iloc[6,0]
generated_percent_total.drop([2,13], inplace=True)
generated_percent_total.rename(columns={generated_percent_total.columns[0]: 'Material'}, inplace=True)
generated_percent_total.set_index('Material', inplace=True)
generated_percent_total

,1960,1970,1980,1990,2000,2005,2010,2015,2017,2018
Material,,,,,,,,,,
Paper and Paperboard,34.0%,36.6%,36.4%,34.9%,36.0%,33.4%,28.4%,26.0%,24.9%,23.1%
Glass,7.6%,10.5%,10.0%,6.3%,5.2%,4.9%,4.6%,4.4%,4.6%,4.2%
Metals - Ferrous,11.7%,10.2%,8.3%,6.1%,5.8%,6.0%,6.7%,6.9%,7.0%,6.6%
Metals - Aluminum,0.4%,0.7%,1.1%,1.3%,1.3%,1.3%,1.4%,1.4%,1.4%,1.3%
Metals - Other Nonferrous,0.2%,0.6%,0.8%,0.5%,0.7%,0.7%,0.8%,0.8%,1.0%,0.9%
Metals - Total Metals,12.3%,11.4%,10.2%,7.9%,7.8%,8.0%,8.9%,9.1%,9.4%,8.8%
Plastics,0.4%,2.4%,4.5%,8.2%,10.5%,11.6%,12.5%,13.2%,13.2%,12.2%
Rubber and Leather,2.1%,2.5%,2.8%,2.8%,2.7%,2.9%,3.1%,3.3%,3.4%,3.1%
Textiles,2.0%,1.7%,1.7%,2.8%,3.9%,4.5%,5.3%,6.1%,6.3%,5.8%
Wood,3.4%,3.1%,4.6%,5.9%,5.6%,5.8%,6.3%,6.2%,6.8%,6.2%
Other **,0.1%,0.6%,1.7%,1.5%,1.6%,1.7%,1.9%,1.8%,1.7%,1.5%
Total Materials in Products,62.0%,68.8%,71.8%,70.3%,73.4%,72.9%,70.9%,70.1%,70.3%,64.9%
Food^,13.8%,10.6%,8.6%,11.5%,12.6%,13.0%,14.2%,15.2%,15.1%,21.6%
Yard Trimmings,22.7%,19.2%,18.1%,16.8%,12.5%,12.6%,13.3%,13.2%,13.1%,12.1%
Miscellaneous Inorganic Wastes,1.5%,1.5%,1.5%,1.4%,1.4%,1.5%,1.5%,1.5%,1.5%,1.4%
Total Other Wastes,38.0%,31.2%,28.2%,29.7%,26.6%,27.1%,29.1%,29.9%,29.7%,35.1%
Total MSW Generated - % Â¥,100.0%,100.0%,100.0%,100.0%,100.0%,100.0%,100.0%,100.0%,100.0%,100.0%

In [128]:
generated_percent_total.to_csv("percent_generated_waste_table.csv")

In [129]:
recycled

,Paper and Paperboard,"5,080","6,770","11,740","20,230","37,560","41,960","44,570","45,320","44,170","45,970"
0,Glass,100,160,750,"2,630","2,880","2,590","3,130","3,190","3,070","3,060"
1,Metals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Ferrous,50,150,370,"2,230","4,680","5,020","5,800","6,070","6,170","6,360"
3,Aluminum,Neg.,10,310,"1,010",860,690,680,670,600,670
4,Other Nonferrous,Neg.,320,540,730,"1,060","1,280","1,440","1,290","1,710","1,690"
5,Total Metals,50,480,"1,220","3,970","6,600","6,990","7,920","8,030","8,480","8,720"
6,Plastics,Neg.,Neg.,20,370,"1,480","1,780","2,500","3,120","3,000","3,090"
7,Rubber and Leather,330,250,130,370,820,"1,050","1,440","1,550","1,670","1,670"
8,Textiles,50,60,160,660,"1,320","1,830","2,050","2,460","2,570","2,510"
9,Wood,Neg.,Neg.,Neg.,130,"1,370","1,830","2,280","2,660","3,030","3,100"
10,Other **,Neg.,300,500,680,980,"1,210","1,370","1,230",990,970
11,Total MSW recycled,"5,610","8,020","14,520","29,040","53,010","59,240","65,260","67,560","66,980","69,090"

In [130]:
recycled.iloc[2,0] = recycled.iloc[1,0] +" - "+recycled.iloc[2,0]
recycled.iloc[3,0] = recycled.iloc[1,0] +" - "+recycled.iloc[3,0]
recycled.iloc[4,0] = recycled.iloc[1,0] +" - "+recycled.iloc[4,0]
recycled.drop([1], inplace=True)
recycled

,Paper and Paperboard,"5,080","6,770","11,740","20,230","37,560","41,960","44,570","45,320","44,170","45,970"
0,Glass,100,160,750,"2,630","2,880","2,590","3,130","3,190","3,070","3,060"
2,Metals - Ferrous,50,150,370,"2,230","4,680","5,020","5,800","6,070","6,170","6,360"
3,Metals - Aluminum,Neg.,10,310,"1,010",860,690,680,670,600,670
4,Metals - Other Nonferrous,Neg.,320,540,730,"1,060","1,280","1,440","1,290","1,710","1,690"
5,Total Metals,50,480,"1,220","3,970","6,600","6,990","7,920","8,030","8,480","8,720"
6,Plastics,Neg.,Neg.,20,370,"1,480","1,780","2,500","3,120","3,000","3,090"
7,Rubber and Leather,330,250,130,370,820,"1,050","1,440","1,550","1,670","1,670"
8,Textiles,50,60,160,660,"1,320","1,830","2,050","2,460","2,570","2,510"
9,Wood,Neg.,Neg.,Neg.,130,"1,370","1,830","2,280","2,660","3,030","3,100"
10,Other **,Neg.,300,500,680,980,"1,210","1,370","1,230",990,970
11,Total MSW recycled,"5,610","8,020","14,520","29,040","53,010","59,240","65,260","67,560","66,980","69,090"

In [131]:
recycled = recycled.columns.to_frame().T.append(recycled, ignore_index=True)

In [138]:
column_names = generated_percent_total.reset_index().columns
recycled.columns = column_names

In [140]:
recycled.set_index('Material', inplace=True)
recycled

,1960,1970,1980,1990,2000,2005,2010,2015,2017,2018
Material,,,,,,,,,,
Paper and Paperboard,"5,080","6,770","11,740","20,230","37,560","41,960","44,570","45,320","44,170","45,970"
Glass,100,160,750,"2,630","2,880","2,590","3,130","3,190","3,070","3,060"
Metals - Ferrous,50,150,370,"2,230","4,680","5,020","5,800","6,070","6,170","6,360"
Metals - Aluminum,Neg.,10,310,"1,010",860,690,680,670,600,670
Metals - Other Nonferrous,Neg.,320,540,730,"1,060","1,280","1,440","1,290","1,710","1,690"
Total Metals,50,480,"1,220","3,970","6,600","6,990","7,920","8,030","8,480","8,720"
Plastics,Neg.,Neg.,20,370,"1,480","1,780","2,500","3,120","3,000","3,090"
Rubber and Leather,330,250,130,370,820,"1,050","1,440","1,550","1,670","1,670"
Textiles,50,60,160,660,"1,320","1,830","2,050","2,460","2,570","2,510"
Wood,Neg.,Neg.,Neg.,130,"1,370","1,830","2,280","2,660","3,030","3,100"
Other **,Neg.,300,500,680,980,"1,210","1,370","1,230",990,970
Total MSW recycled,"5,610","8,020","14,520","29,040","53,010","59,240","65,260","67,560","66,980","69,090"

In [141]:
recycled.to_csv("absolute_recycled_table.csv")

In [142]:
recycled_percent

,Unnamed: 0,1960,1970,1980,1990,2000,2005,2010,2015,2017,2018
0,Recycled,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Paper and Paperboard,16.9%,15.3%,21.3%,27.8%,42.8%,49.5%,62.5%,66.6%,65.9%,68.2%
2,Glass,1.5%,1.3%,5.0%,20.1%,22.6%,20.7%,27.2%,27.8%,25.0%,25.0%
3,Metals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Ferrous,0.5%,1.2%,2.9%,17.6%,33.1%,33.0%,34.3%,33.4%,32.7%,33.1%
5,Aluminum,Neg.,1.3%,17.9%,35.9%,27.0%,20.7%,19.4%,18.3%,15.7%,17.2%
6,Other Nonferrous,Neg.,47.8%,46.6%,66.4%,66.3%,68.8%,71.3%,64.2%,68.1%,67.3%
7,Total Metals,0.5%,3.5%,7.9%,24.0%,34.8%,34.3%,35.3%,33.6%,33.6%,34.1%
8,Plastics,Neg.,Neg.,0.3%,2.2%,5.8%,6.1%,8.0%,9.0%,8.5%,8.7%
9,Rubber and Leather,17.9%,8.4%,3.1%,6.4%,12.3%,14.4%,18.6%,18.1%,18.3%,18.2%
10,Textiles,2.8%,2.9%,6.3%,11.4%,13.9%,15.9%,15.5%,15.3%,15.2%,14.7%
11,Wood,Neg.,Neg.,Neg.,1.1%,10.1%,12.4%,14.5%,16.3%,16.6%,17.1%
12,Other **,Neg.,39.0%,19.8%,21.3%,24.5%,28.2%,29.1%,25.2%,21.4%,21.3%
13,Total Materials in Products â recycled,10.3%,9.6%,13.3%,19.8%,29.7%,32.0%,36.6%,36.8%,35.5%,36.4%

In [143]:
recycled_percent.iloc[4,0] = recycled_percent.iloc[3,0] +" - "+recycled_percent.iloc[4,0]
recycled_percent.iloc[5,0] = recycled_percent.iloc[3,0] +" - "+recycled_percent.iloc[5,0]
recycled_percent.iloc[6,0] = recycled_percent.iloc[3,0] +" - "+recycled_percent.iloc[6,0]
recycled_percent.drop([0,3], inplace=True)
recycled_percent.columns = column_names

In [145]:
recycled_percent.set_index('Material', inplace=True)
recycled_percent

,1960,1970,1980,1990,2000,2005,2010,2015,2017,2018
Material,,,,,,,,,,
Paper and Paperboard,16.9%,15.3%,21.3%,27.8%,42.8%,49.5%,62.5%,66.6%,65.9%,68.2%
Glass,1.5%,1.3%,5.0%,20.1%,22.6%,20.7%,27.2%,27.8%,25.0%,25.0%
Metals - Ferrous,0.5%,1.2%,2.9%,17.6%,33.1%,33.0%,34.3%,33.4%,32.7%,33.1%
Metals - Aluminum,Neg.,1.3%,17.9%,35.9%,27.0%,20.7%,19.4%,18.3%,15.7%,17.2%
Metals - Other Nonferrous,Neg.,47.8%,46.6%,66.4%,66.3%,68.8%,71.3%,64.2%,68.1%,67.3%
Total Metals,0.5%,3.5%,7.9%,24.0%,34.8%,34.3%,35.3%,33.6%,33.6%,34.1%
Plastics,Neg.,Neg.,0.3%,2.2%,5.8%,6.1%,8.0%,9.0%,8.5%,8.7%
Rubber and Leather,17.9%,8.4%,3.1%,6.4%,12.3%,14.4%,18.6%,18.1%,18.3%,18.2%
Textiles,2.8%,2.9%,6.3%,11.4%,13.9%,15.9%,15.5%,15.3%,15.2%,14.7%
Wood,Neg.,Neg.,Neg.,1.1%,10.1%,12.4%,14.5%,16.3%,16.6%,17.1%
Other **,Neg.,39.0%,19.8%,21.3%,24.5%,28.2%,29.1%,25.2%,21.4%,21.3%
Total Materials in Products â recycled,10.3%,9.6%,13.3%,19.8%,29.7%,32.0%,36.6%,36.8%,35.5%,36.4%

In [146]:
recycled_percent.to_csv("percent_recycled_table.csv")

In [147]:
composted

,Food - composted,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Food^,Neg.,Neg.,Neg.,Neg.,680,690,970,"2,100","2,570","2,590"
1,Yard Trimmings - composted,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Yard Trimmings,Neg.,Neg.,Neg.,"4,200","15,770","19,860","19,200","21,290","24,420","22,300"
3,Misc. Inorganic Wastes - composted,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Miscellaneous Inorganic Wastes,Neg.,Neg.,Neg.,Neg.,Neg.,Neg.,Neg.,Neg.,Neg.,Neg.
5,Total - composted,Neg.,Neg.,Neg.,"4,200","16,450","20,550","20,170","23,390","26,990","24,890"

In [153]:
composted.columns = column_names
composted.drop([1,3], inplace=True)
composted

,Material,1960,1970,1980,1990,2000,2005,2010,2015,2017,2018
0,Food^,Neg.,Neg.,Neg.,Neg.,680,690,970,"2,100","2,570","2,590"
2,Yard Trimmings,Neg.,Neg.,Neg.,"4,200","15,770","19,860","19,200","21,290","24,420","22,300"
4,Miscellaneous Inorganic Wastes,Neg.,Neg.,Neg.,Neg.,Neg.,Neg.,Neg.,Neg.,Neg.,Neg.
5,Total - composted,Neg.,Neg.,Neg.,"4,200","16,450","20,550","20,170","23,390","26,990","24,890"

In [188]:
composted.to_csv("absolute_composted_table.csv")

In [151]:
composted_percent

,Food - Composted,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Food^,Neg.,Neg.,Neg.,Neg.,2.2%,2.1%,2.7%,5.3%,6.3%,4.1%
1,Yard Trimmings - Composted,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Yard Trimmings,Neg.,Neg.,Neg.,12.0%,51.7%,61.9%,57.5%,61.3%,69.4%,63.0%
3,Misc. Inorganic Wastes â composted,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Miscellaneous Inorganic Wastes,Neg.,Neg.,Neg.,Neg.,Neg.,Neg.,Neg.,Neg.,Neg.,Neg.
5,Total â composted,Neg.,Neg.,Neg.,6.8%,25.4%,29.9%,27.6%,29.8%,33.8%,24.3%

In [156]:
composted_percent.columns=column_names
composted_percent.drop([1,3], inplace=True)
composted_percent

,Material,1960,1970,1980,1990,2000,2005,2010,2015,2017,2018
0,Food^,Neg.,Neg.,Neg.,Neg.,2.2%,2.1%,2.7%,5.3%,6.3%,4.1%
2,Yard Trimmings,Neg.,Neg.,Neg.,12.0%,51.7%,61.9%,57.5%,61.3%,69.4%,63.0%
4,Miscellaneous Inorganic Wastes,Neg.,Neg.,Neg.,Neg.,Neg.,Neg.,Neg.,Neg.,Neg.,Neg.
5,Total â composted,Neg.,Neg.,Neg.,6.8%,25.4%,29.9%,27.6%,29.8%,33.8%,24.3%

In [158]:
combusted_percent.to_csv("percent_composted_table.csv")

In [159]:
other

                                            Material  Amount
0                                 Food - animal feed   1,820
1  Food - bio-based materials/biochemical processing   1,840
2             Food â codigestion/anaerobic digestion   5,260
3                                    Food - donation   4,790
4                            Food - land application     260
5                  Food â sewer/wastewater treatment   3,740
6                 Total Food â other food management  17,710

In [161]:
other.to_csv("other_food_managment_2018_absolute.csv")

In [164]:
other_percent

                                            Material Percent
0                                 Food - animal feed    2.9%
1  Food - bio-based materials/biochemical processing    2.9%
2             Food â codigestion/anaerobic digestion    8.3%
3                                    Food - donation    7.6%
4                            Food - land application    0.4%
5                  Food â sewer/wastewater treatment    5.9%
6                 Total Food â other food management   28.1%

In [162]:
other_percent.to_csv("other_food_managment_2018_percent.csv")

In [170]:
combusted

,Unnamed: 0,1960,1970,1980,1990,2000,2005,2010,2015,2017,2018
0,Paper and Paperboard,NaN,150.0,860,"8,930","9,730","7,800","4,740","4,450","4,490","4,200"
1,Glass,NaN,60.0,300,"1,810","1,790","1,660","1,360","1,440","1,650","1,640"
2,Metals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Ferrous,NaN,60.0,250,"1,690","1,610","1,640","1,810","2,150","2,290","2,310"
4,Aluminum,NaN,0.0,30,300,390,410,440,510,550,560
5,Other Nonferrous,NaN,0.0,20,60,50,50,60,60,70,80
6,Total Metals,NaN,60.0,300,"2,050","2,050","2,100","2,310","2,720","2,910","2,950"
7,Plastics,NaN,0.0,140,"2,980","4,120","4,330","4,530","5,330","5,590","5,620"
8,Rubber and Leather,NaN,10.0,70,830,"1,970","2,110","1,910","2,520","2,490","2,500"
9,Textiles,NaN,10.0,50,880,"1,880","2,110","2,270","3,060","3,170","3,220"
10,Wood,NaN,10.0,150,"2,080","2,290","2,270","2,310","2,570","2,880","2,840"
11,Other **,NaN,0.0,30,410,540,510,540,670,670,660
12,Total Materials in Products,NaN,300.0,"1,900","19,970","24,370","22,890","19,970","22,760","23,850","23,630"
13,Other Wastes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Food,NaN,50.0,260,"4,060","5,820","5,870","6,150","7,380","7,470","7,550"
15,Yard Trimmings,NaN,90.0,550,"5,240","2,860","2,220","2,510","2,630","2,110","2,570"
16,Miscellaneous Inorganic Wastes,NaN,10.0,50,490,680,670,680,780,790,800
17,Total Other Wastes,NaN,150.0,860,"9,790","9,360","8,760","9,340","10,790","10,370","10,920"
18,Total MSW Combusted - Weight,NaN,450.0,"2,760","29,760","33,730","31,650","29,310","33,550","34,220","34,550"

In [171]:
combusted.iloc[3,0] = combusted.iloc[2,0] +" - "+combusted.iloc[3,0]
combusted.iloc[4,0] = combusted.iloc[2,0] +" - "+combusted.iloc[4,0]
combusted.iloc[5,0] = combusted.iloc[2,0] +" - "+combusted.iloc[5,0]
combusted.drop([2,13], inplace=True)
combusted.columns = column_names

In [173]:
combusted.set_index('Material', inplace=True)
combusted

,1960,1970,1980,1990,2000,2005,2010,2015,2017,2018
Material,,,,,,,,,,
Paper and Paperboard,NaN,150.0,860,"8,930","9,730","7,800","4,740","4,450","4,490","4,200"
Glass,NaN,60.0,300,"1,810","1,790","1,660","1,360","1,440","1,650","1,640"
Metals - Ferrous,NaN,60.0,250,"1,690","1,610","1,640","1,810","2,150","2,290","2,310"
Metals - Aluminum,NaN,0.0,30,300,390,410,440,510,550,560
Metals - Other Nonferrous,NaN,0.0,20,60,50,50,60,60,70,80
Total Metals,NaN,60.0,300,"2,050","2,050","2,100","2,310","2,720","2,910","2,950"
Plastics,NaN,0.0,140,"2,980","4,120","4,330","4,530","5,330","5,590","5,620"
Rubber and Leather,NaN,10.0,70,830,"1,970","2,110","1,910","2,520","2,490","2,500"
Textiles,NaN,10.0,50,880,"1,880","2,110","2,270","3,060","3,170","3,220"
Wood,NaN,10.0,150,"2,080","2,290","2,270","2,310","2,570","2,880","2,840"
Other **,NaN,0.0,30,410,540,510,540,670,670,660
Total Materials in Products,NaN,300.0,"1,900","19,970","24,370","22,890","19,970","22,760","23,850","23,630"
Food,NaN,50.0,260,"4,060","5,820","5,870","6,150","7,380","7,470","7,550"
Yard Trimmings,NaN,90.0,550,"5,240","2,860","2,220","2,510","2,630","2,110","2,570"
Miscellaneous Inorganic Wastes,NaN,10.0,50,490,680,670,680,780,790,800
Total Other Wastes,NaN,150.0,860,"9,790","9,360","8,760","9,340","10,790","10,370","10,920"
Total MSW Combusted - Weight,NaN,450.0,"2,760","29,760","33,730","31,650","29,310","33,550","34,220","34,550"

In [175]:
combusted.to_csv("absolute_combusted_table.csv")

In [176]:
combusted_percent

,Unnamed: 0,1960,1970,1980,1990,2000,2005,2010,2015,2017,2018
0,Paper and Paperboard,NaN,33.3%,31.2%,30.0%,28.8%,24.6%,16.2%,13.3%,13.1%,12.2%
1,Glass,NaN,13.3%,10.9%,6.1%,5.3%,5.2%,4.6%,4.3%,4.8%,4.8%
2,Metals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Ferrous,NaN,13.3%,9.0%,5.7%,4.8%,5.2%,6.2%,6.4%,6.7%,6.7%
4,Aluminum,NaN,0.0%,1.1%,1.0%,1.2%,1.3%,1.5%,1.5%,1.6%,1.6%
5,Other Nonferrous,NaN,0.0%,0.7%,0.2%,0.1%,0.1%,0.2%,0.2%,0.2%,0.2%
6,Total Metals,NaN,13.3%,10.8%,6.9%,6.1%,6.6%,7.9%,8.1%,8.5%,8.5%
7,Plastics,NaN,Neg.,5.1%,10.0%,12.2%,13.7%,15.5%,15.9%,16.3%,16.3%
8,Rubber and Leather,NaN,2.2%,2.5%,2.8%,5.9%,6.7%,6.5%,7.5%,7.3%,7.2%
9,Textiles,NaN,2.2%,1.8%,2.9%,5.6%,6.7%,7.7%,9.1%,9.3%,9.3%
10,Wood,NaN,2.2%,5.4%,7.0%,6.8%,7.2%,7.9%,7.7%,8.4%,8.2%
11,Other **,NaN,Neg.,1.1%,1.4%,1.6%,1.6%,1.8%,2.0%,2.0%,1.9%
12,Total Materials in Products,NaN,66.6%,68.8%,67.1%,72.3%,72.3%,68.1%,67.9%,69.7%,68.4%
13,Other Wastes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Food,NaN,11.1%,9.4%,13.6%,17.3%,18.5%,21.0%,22.0%,21.8%,21.9%
15,Yard Trimmings,NaN,20.0%,20.0%,17.6%,8.5%,7.0%,8.6%,7.8%,6.2%,7.4%
16,Miscellaneous Inorganic Wastes,NaN,2.3%,1.8%,1.7%,1.9%,2.1%,2.3%,2.3%,2.3%,2.3%
17,Total Other Wastes,NaN,33.4%,31.2%,32.9%,27.7%,27.7%,31.9%,32.1%,30.3%,31.6%
18,Total MSW Combusted with Energy Recovery- %,NaN,100.0%,100.0%,100.0%,100.0%,100.0%,100.0%,100.0%,100.0%,100.0%

In [177]:
combusted_percent.iloc[3,0] = combusted_percent.iloc[2,0] +" - "+combusted_percent.iloc[3,0]
combusted_percent.iloc[4,0] = combusted_percent.iloc[2,0] +" - "+combusted_percent.iloc[4,0]
combusted_percent.iloc[5,0] = combusted_percent.iloc[2,0] +" - "+combusted_percent.iloc[5,0]
combusted_percent.drop([2,13], inplace=True)
combusted_percent.columns = column_names

In [178]:
combusted_percent.set_index('Material', inplace=True)
combusted_percent

,1960,1970,1980,1990,2000,2005,2010,2015,2017,2018
Material,,,,,,,,,,
Paper and Paperboard,NaN,33.3%,31.2%,30.0%,28.8%,24.6%,16.2%,13.3%,13.1%,12.2%
Glass,NaN,13.3%,10.9%,6.1%,5.3%,5.2%,4.6%,4.3%,4.8%,4.8%
Metals - Ferrous,NaN,13.3%,9.0%,5.7%,4.8%,5.2%,6.2%,6.4%,6.7%,6.7%
Metals - Aluminum,NaN,0.0%,1.1%,1.0%,1.2%,1.3%,1.5%,1.5%,1.6%,1.6%
Metals - Other Nonferrous,NaN,0.0%,0.7%,0.2%,0.1%,0.1%,0.2%,0.2%,0.2%,0.2%
Total Metals,NaN,13.3%,10.8%,6.9%,6.1%,6.6%,7.9%,8.1%,8.5%,8.5%
Plastics,NaN,Neg.,5.1%,10.0%,12.2%,13.7%,15.5%,15.9%,16.3%,16.3%
Rubber and Leather,NaN,2.2%,2.5%,2.8%,5.9%,6.7%,6.5%,7.5%,7.3%,7.2%
Textiles,NaN,2.2%,1.8%,2.9%,5.6%,6.7%,7.7%,9.1%,9.3%,9.3%
Wood,NaN,2.2%,5.4%,7.0%,6.8%,7.2%,7.9%,7.7%,8.4%,8.2%
Other **,NaN,Neg.,1.1%,1.4%,1.6%,1.6%,1.8%,2.0%,2.0%,1.9%
Total Materials in Products,NaN,66.6%,68.8%,67.1%,72.3%,72.3%,68.1%,67.9%,69.7%,68.4%
Food,NaN,11.1%,9.4%,13.6%,17.3%,18.5%,21.0%,22.0%,21.8%,21.9%
Yard Trimmings,NaN,20.0%,20.0%,17.6%,8.5%,7.0%,8.6%,7.8%,6.2%,7.4%
Miscellaneous Inorganic Wastes,NaN,2.3%,1.8%,1.7%,1.9%,2.1%,2.3%,2.3%,2.3%,2.3%
Total Other Wastes,NaN,33.4%,31.2%,32.9%,27.7%,27.7%,31.9%,32.1%,30.3%,31.6%
Total MSW Combusted with Energy Recovery- %,NaN,100.0%,100.0%,100.0%,100.0%,100.0%,100.0%,100.0%,100.0%,100.0%

In [179]:
combusted_percent.to_csv("percent_combusted_table.csv")

In [180]:
landfilled

,Unnamed: 0,1960,1970,1980,1990,2000,2005,2010,2015,2017,2018
0,Paper and Paperboard,"24,910","37,390","42,560","43,570","40,450","35,080","22,000","18,280","18,350","17,220"
1,Glass,"6,620","12,520","14,080","8,660","8,100","8,290","7,030","6,840","7,580","7,550"
2,Metals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Ferrous,"10,250","12,150","12,000","8,720","7,860","8,550","9,310","9,970","10,430","10,530"
4,Aluminum,340,790,"1,390","1,500","1,940","2,230","2,390","2,490","2,670","2,660"
5,Other Nonferrous,180,350,600,310,490,530,520,660,730,740
6,Total Metals,"10,770","13,290","13,990","10,530","10,290","11,310","12,220","13,120","13,830","13,930"
7,Plastics,390,"2,900","6,670","13,780","19,950","23,270","24,370","26,030","26,820","26,970"
8,Rubber and Leather,"1,510","2,710","4,000","4,590","3,880","4,130","4,400","4,490","4,950","4,990"
9,Textiles,"1,710","1,970","2,320","4,270","6,280","7,570","8,900","10,540","11,150","11,300"
10,Wood,"3,030","3,710","6,860","10,000","9,910","10,690","11,120","11,070","12,290","12,150"
11,Other **,70,470,"1,990","2,100","2,480","2,570","2,800","2,980","2,970","2,930"
12,Total Materials in Products,"49,010","74,960","92,470","97,500","101,340","102,910","92,840","93,350","97,940","97,040"
13,Other Wastes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Food,"12,200","12,750","12,740","19,800","24,200","26,370","28,620","30,250","30,630","35,280"
15,Yard Trimmings,"20,000","23,110","26,950","25,560","11,900","9,990","11,690","10,800","8,650","10,530"
16,Miscellaneous Inorganic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Wastes,"1,300","1,770","2,200","2,410","2,820","3,020","3,160","3,210","3,250","3,270"
18,Total Other Wastes,"33,500","37,630","41,890","47,770","38,920","39,380","43,470","44,260","42,530","49,080"

In [181]:
landfilled.iloc[3,0] = landfilled.iloc[2,0] +" - "+landfilled.iloc[3,0]
landfilled.iloc[4,0] = landfilled.iloc[2,0] +" - "+landfilled.iloc[4,0]
landfilled.iloc[5,0] = landfilled.iloc[2,0] +" - "+landfilled.iloc[5,0]
landfilled.drop([2,13], inplace=True)
landfilled.columns = column_names

In [182]:
landfilled.set_index('Material', inplace=True)
landfilled

,1960,1970,1980,1990,2000,2005,2010,2015,2017,2018
Material,,,,,,,,,,
Paper and Paperboard,"24,910","37,390","42,560","43,570","40,450","35,080","22,000","18,280","18,350","17,220"
Glass,"6,620","12,520","14,080","8,660","8,100","8,290","7,030","6,840","7,580","7,550"
Metals - Ferrous,"10,250","12,150","12,000","8,720","7,860","8,550","9,310","9,970","10,430","10,530"
Metals - Aluminum,340,790,"1,390","1,500","1,940","2,230","2,390","2,490","2,670","2,660"
Metals - Other Nonferrous,180,350,600,310,490,530,520,660,730,740
Total Metals,"10,770","13,290","13,990","10,530","10,290","11,310","12,220","13,120","13,830","13,930"
Plastics,390,"2,900","6,670","13,780","19,950","23,270","24,370","26,030","26,820","26,970"
Rubber and Leather,"1,510","2,710","4,000","4,590","3,880","4,130","4,400","4,490","4,950","4,990"
Textiles,"1,710","1,970","2,320","4,270","6,280","7,570","8,900","10,540","11,150","11,300"
Wood,"3,030","3,710","6,860","10,000","9,910","10,690","11,120","11,070","12,290","12,150"
Other **,70,470,"1,990","2,100","2,480","2,570","2,800","2,980","2,970","2,930"
Total Materials in Products,"49,010","74,960","92,470","97,500","101,340","102,910","92,840","93,350","97,940","97,040"
Food,"12,200","12,750","12,740","19,800","24,200","26,370","28,620","30,250","30,630","35,280"
Yard Trimmings,"20,000","23,110","26,950","25,560","11,900","9,990","11,690","10,800","8,650","10,530"
Miscellaneous Inorganic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Wastes,"1,300","1,770","2,200","2,410","2,820","3,020","3,160","3,210","3,250","3,270"
Total Other Wastes,"33,500","37,630","41,890","47,770","38,920","39,380","43,470","44,260","42,530","49,080"

In [183]:
landfilled.to_csv("absolute_landfilled_table.csv")

In [184]:
landfilled_percent

,Unnamed: 0,1960,1970,1980,1990,2000,2005,2010,2015,2017,2018
0,Paper and Paperboard,30.2%,33.2%,31.7%,30.0%,28.8%,24.7%,16.1%,13.3%,13.1%,11.8%
1,Glass,8.0%,11.1%,10.5%,6.0%,5.8%,5.8%,5.1%,5.0%,5.4%,5.2%
2,Metals,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Ferrous,12.4%,10.8%,8.9%,6.0%,5.6%,6.0%,6.8%,7.2%,7.4%,7.2%
4,Aluminum,0.4%,0.7%,1.0%,1.0%,1.4%,1.6%,1.8%,1.8%,1.9%,1.8%
5,Other Nonferrous,0.2%,0.3%,0.4%,0.2%,0.3%,0.3%,0.4%,0.5%,0.5%,0.5%
6,Total Metals,13.0%,11.8%,10.3%,7.2%,7.3%,7.9%,9.0%,9.5%,9.8%,9.5%
7,Plastics,0.5%,2.6%,5.0%,9.5%,14.2%,16.4%,17.9%,18.9%,19.1%,18.5%
8,Rubber and Leather,1.8%,2.4%,3.0%,3.2%,2.8%,2.9%,3.2%,3.3%,3.5%,3.4%
9,Textiles,2.1%,1.7%,1.7%,2.9%,4.5%,5.3%,6.5%,7.7%,7.9%,7.7%
10,Wood,3.7%,3.3%,5.1%,6.9%,7.1%,7.5%,8.2%,8.0%,8.7%,8.3%
11,Other **,0.1%,0.4%,1.5%,1.4%,1.8%,1.8%,2.1%,2.2%,2.2%,2.0%
12,Total Materials in Products,59.4%,66.6%,68.8%,67.1%,72.3%,72.3%,68.1%,67.9%,69.7%,66.4%
13,Other Wastes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Food,14.8%,11.3%,9.5%,13.6%,17.3%,18.5%,21.0%,22.0%,21.8%,24.1%
15,Yard Trimmings,24.2%,20.5%,20.1%,17.6%,8.5%,7.0%,8.6%,7.8%,6.2%,7.2%
16,Miscellaneous Inorganic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Wastes,1.6%,1.6%,1.6%,1.7%,1.9%,2.2%,2.3%,2.3%,2.3%,2.3%
18,Total Other Wastes,40.6%,33.4%,31.2%,32.9%,27.7%,27.7%,31.9%,32.1%,30.3%,33.6%

In [185]:
landfilled_percent.iloc[3,0] = landfilled_percent.iloc[2,0] +" - "+landfilled_percent.iloc[3,0]
landfilled_percent.iloc[4,0] = landfilled_percent.iloc[2,0] +" - "+landfilled_percent.iloc[4,0]
landfilled_percent.iloc[5,0] = landfilled_percent.iloc[2,0] +" - "+landfilled_percent.iloc[5,0]
landfilled_percent.drop([2,13], inplace=True)
landfilled_percent.columns = column_names

In [186]:
landfilled_percent.set_index('Material', inplace=True)
landfilled_percent

,1960,1970,1980,1990,2000,2005,2010,2015,2017,2018
Material,,,,,,,,,,
Paper and Paperboard,30.2%,33.2%,31.7%,30.0%,28.8%,24.7%,16.1%,13.3%,13.1%,11.8%
Glass,8.0%,11.1%,10.5%,6.0%,5.8%,5.8%,5.1%,5.0%,5.4%,5.2%
Metals - Ferrous,12.4%,10.8%,8.9%,6.0%,5.6%,6.0%,6.8%,7.2%,7.4%,7.2%
Metals - Aluminum,0.4%,0.7%,1.0%,1.0%,1.4%,1.6%,1.8%,1.8%,1.9%,1.8%
Metals - Other Nonferrous,0.2%,0.3%,0.4%,0.2%,0.3%,0.3%,0.4%,0.5%,0.5%,0.5%
Total Metals,13.0%,11.8%,10.3%,7.2%,7.3%,7.9%,9.0%,9.5%,9.8%,9.5%
Plastics,0.5%,2.6%,5.0%,9.5%,14.2%,16.4%,17.9%,18.9%,19.1%,18.5%
Rubber and Leather,1.8%,2.4%,3.0%,3.2%,2.8%,2.9%,3.2%,3.3%,3.5%,3.4%
Textiles,2.1%,1.7%,1.7%,2.9%,4.5%,5.3%,6.5%,7.7%,7.9%,7.7%
Wood,3.7%,3.3%,5.1%,6.9%,7.1%,7.5%,8.2%,8.0%,8.7%,8.3%
Other **,0.1%,0.4%,1.5%,1.4%,1.8%,1.8%,2.1%,2.2%,2.2%,2.0%
Total Materials in Products,59.4%,66.6%,68.8%,67.1%,72.3%,72.3%,68.1%,67.9%,69.7%,66.4%
Food,14.8%,11.3%,9.5%,13.6%,17.3%,18.5%,21.0%,22.0%,21.8%,24.1%
Yard Trimmings,24.2%,20.5%,20.1%,17.6%,8.5%,7.0%,8.6%,7.8%,6.2%,7.2%
Miscellaneous Inorganic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Wastes,1.6%,1.6%,1.6%,1.7%,1.9%,2.2%,2.3%,2.3%,2.3%,2.3%
Total Other Wastes,40.6%,33.4%,31.2%,32.9%,27.7%,27.7%,31.9%,32.1%,30.3%,33.6%

In [187]:
landfilled_percent.to_csv("percent_landfilled_table.csv")